@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 375px;
  max-width: 100vw;
  min-height: 100vh;
}
.reviews {
  padding: 5rem 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sec-title {
  font-size: 3.2rem;
  line-height: 4.8rem;
}
.sec-para {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.sec-para span {
  display: block;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f8f7f7;
  width: 45rem;
  height: 35rem;
  text-align: center;
  color: #242424;
}
.review-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.review-author {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}
.review-job {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
}
.review-text {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(135, 135, 135);
  line-height: 1.6;
}

.review-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
.btn {
  padding: 1rem;
  border-radius: 999rem;
  cursor: pointer;
  color: #fff;
  background-color: #242424;
  border: 1px solid #fff;
  transition: all 0.55s ease;
}
.btn:hover {
  background-color: #969696;
  color: #242424;
  border: 1px solid #242424;
}
